{{#partial "title" }}
    Hero listing
{{/partial}}

{{#partial "content"}}
<h3>Your Hero Listing is:</h3>
   <p>{{heroName}}</p>
   <p>{{heroAge}}</p>
   <p>{{heroAbility}}</p>
   <p>{{heroWeakness}}</p>
{{/partial}}

{{> layout.hbs}}
