{{#partial "title" }}
    Hero listing
{{/partial}}

{{#partial "content"}}
<h3>Your Hero Listing is:</h3>
{{#each heroList}}
    {{heroName}}
    {{heroAge}}
    {{heroAbility}}
    {{heroWeakness}}
    <hr>
    {{/each}}
{{/partial}}

{{> layout.hbs}}
