{{#partial "content"}}
<h1>HERO-SQUAD APP</h1>
<h2>Welcome To Your All-Time Hero Squad Point!</h2>
<div class="container">
<p> This is a Java/Spark application that allows for adding hero participants to their </br>
    respective squad teams for the favorable competition.</p>
</div>
{{/partial}}

{{> layout.hbs}}