{{#partial "title" }}
    Squad listing
{{/partial}}

{{#partial "content"}}
    <h3>Your Squad Listing is:</h3>
    <p>{{squadName}}</p>
    <p>{{maxSize}}</p>
    <p>{{squadCause}}</p>
{{/partial}}

{{> layout.hbs}}
