{{#partial "title" }}
    Squad listing
{{/partial}}

{{#partial "content"}}
    <h3>Your Squad Listing is:</h3>
    {{#each squadList}}
        {{squadName}}
        {{maxSize}}
        {{squadCause}}
        <hr>
    {{/each}}
{{/partial}}

{{> layout.hbs}}
